<!doctype html>
<html xmlns:th="https://thymeleaf.org" lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezési oldal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container text-center">
    <h1>TODO Bejelejentkezés</h1>
    <hr/>
    <div>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="Felhasználói név"/>
            <br/><br/>
            <input type="password" name="password" placeholder="Jelszó"/>
            <br/><br/>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
</body>
<script>
    $(function () {
        const $loginForm = $("#loginForm");
        if ($loginForm.length) {
            $loginForm.validate({
                rules: {
                    email: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                messages: {
                    email: {
                        required: 'Please enter the email'
                    },
                    password: {
                        required: 'Please enter the password'
                    }
                }
            })
        }
    })
</script>

</html>














