<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="hu">
<head>
    <meta charset="utf-8">
    <title>User szerkesztés</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<body>
<div class="container text-center">
    <div>
        <h1>Felhasználó szerkesztése</h1>
    </div>
    <form th:action="@{/users/save}" th:object="${user}" method="post" style="max-width: 600px; margin: 0 auto;">

        <input type="hidden" th:field="*{id}"/>

        <div class="m-3">

            <div class="form-group row">
                <label class="col-4 col-form-label">Név: </label>
                <div class="col-8">
                    <input type="text" th:field="*{nev}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Azonosító: </label>
                <div class="col-8">
                    <input type="text" th:field="*{username}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Jelszó: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Profilkép: </label>
                <div class="col-8">
                    <input type="text" th:field="*{profilkep}" class="form-control" required/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Jogosultságok: </label>
                <div class="col-8">
                    <th:block th:each="role: ${listRoles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.name}" th:value="${role.id}" class="m-2"/>
                    </th:block>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Mentés</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>